nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 20px;
  background-color: #222;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: rgb(247, 29, 29);
}